<div class="container">
  <ol class="breadcrumb">
    <li><a href="/users">Listado de Usuarios</a></li>
    <li>Ficha de Usuario</li>
  </ol>
</div>

<div class="panel panel-info bootcards-file">
  <div class="panel-heading">
    <h1 class="panel-title">Usuario: <%=@user.nombre_trabajador.capitalize%></h1>
  </div>
  <div class="list-group">
    <div class="list-group-item" style="height: 130px; padding-left: 0px !important;">
      <h3 class="list-group-item-text">
        Ficha
      </h3>
      <p class="list-group-item-text">
        <b>Nombre completo: </b><%=@Lista[0].nombre.capitalize %><br>
        <b>Cantidad de ventas: </b><%=@Lista[0].ventas %><br>
        <b>Monto vendido: </b>$<%=@Lista[0].cantidad_vendido %>
      </p>
    </div>
    <div class="list-group-item">
      <p class="list-group-item-text"><strong>Detalle</strong></p>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <p>
          <ul>
            <li>
              <b>Rol: </b><%=Role.find(@user.id_rol).descrip_rol.capitalize %>
            </li>
            <li>
              <b>Estado: </b><%=State.find(@user.id_estado).descrip_estado.capitalize  %>
            </li>
            <li>
              <b>Email/Login: </b><%=@user.email  %>
            </li>
            <li>
              <b>Rut: </b><%=@user.rut%>
            </li>
          </ul>
          </p>
        </div>

        <div class="col-md-7">
          <p>
          <ul>
            <li>
              <b>Fono: </b><%=@user.fono%>
            </li>
            <li>
              <b>Domicilio: </b><%=@user.domicilio.capitalize%>
            </li>
            <li>
              <b>Fecha de Creación: </b><%=@user.created_at.strftime('%d-%m-%Y  %H:%M:%S')%>
            </li>
            <li>
              <b>Fecha de Última modificación: </b><%=@user.updated_at.strftime('%d-%m-%Y  %H:%M:%S')%>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>

<div class="form-actions">
  <%=link_to 'Volver', users_path, :class => 'btn btn-primary' %>
</div>

<style>
  .product-img{
    width: auto;
    height: 120px;
  }

</style>