<h1 class="page-header">Principal/Home</h1>

<div class="row">


  <a href="/products">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel-dashboard panel-blue panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <%= icon('cubes') %>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large"><%=@CantidadProductos %></div>
            <div class="text-muted">Productos</div>
          </div>
        </div>
      </div>
    </div>
  </a>

  <a href="/sales/index">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel-dashboard panel-orange panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <%= icon('shopping-bag') %>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large"><%=@CantidadVentas %></div>
            <div class="text-muted">Ventas</div>
          </div>
        </div>
      </div>
    </div>
  </a>

<% if current_user.id_rol == 1 %>
    <a href="/users">
      <div class="col-xs-12 col-md-6 col-lg-3">
        <div class="panel-dashboard panel-teal panel-widget">
          <div class="row no-padding">
            <div class="col-sm-3 col-lg-5 widget-left">
              <%= icon('list-alt') %>
            </div>
            <div class="col-sm-9 col-lg-7 widget-right">
              <div class="large"><%=@CantidadUsuarios %></div>
              <div class="text-muted">Usuarios</div>
            </div>
          </div>
        </div>
      </div>
    </a>
  <%else %>
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel-dashboard panel-teal panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <%= icon('list-alt') %>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large"><%=@CantidadUsuarios %></div>
            <div class="text-muted">Usuarios</div>
          </div>
        </div>
      </div>
    </div>
  <%end %>
  <a href="/home/show">
    <div class="col-xs-12 col-md-6 col-lg-3">
      <div class="panel-dashboard panel-red panel-widget">
        <div class="row no-padding">
          <div class="col-sm-3 col-lg-5 widget-left">
            <%= icon('exclamation-triangle') %>
          </div>
          <div class="col-sm-9 col-lg-7 widget-right">
            <div class="large"><%=@ProductosStockBajo %></div>
            <div class="text-muted">Alertas</div>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>

<div class="bootcards-list">
  <div class="panel-dashboard panel-default">
    <div class="list-group">
      <a class="list-group-item" href="/sales/new">
        <div class="row">
          <div class="col-sm-6">
            <i class="fa fa-3x fa-shopping-cart pull-left"></i>
            <h4 class="list-group-item-heading">Realizar Venta</h4>
            <p class="list-group-item-text">Ir a hacer una nueva venta</p>
          </div>
          <div class="col-sm-6">
            <p class="list-group-item-text"></p>
            <p class="list-group-item-text"></p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>


<h2 class="sub-header">Ultimas diez ventas realizadas</h2>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Monto</th>
      <th>Vendedor</th>
      <th>Fecha</th>
      <th>Hora</th>
    </tr>
    </thead>
    <tbody>
    <%@ListaVenta.each do |venta| %>
      <tr>
        <td>$<%=venta.monto %></td>
        <td><%=User.find(venta.usuario).nombre_trabajador.titleize%> <%=User.find(venta.usuario).apellidos_trabajador.titleize %></td>
        <td><%=venta.fecha.strftime('%d-%m-%Y') %></td>
        <td><%=venta.fecha.strftime('%H:%M:%S') %></td>
      </tr>
    <%end %>
    </tbody>
  </table>
</div>
