<!DOCTYPE html>
<html>

<head>
  <title>Gestor de Almacen</title>
  <%= csrf_meta_tags %>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="<%= root_path %>">Administracion</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to(destroy_user_session_path, :method => :delete) do%>
            Salir
            <%= fa_icon('lock', class:"nav-icon") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <%if current_user.id_rol == 1 %>
          <li><a href="/"><%= fa_icon('home', class:"nav-icon") %> Principal</a></li>
          <li><a href="/products"><%= fa_icon('archive', class:"nav-icon") %> Productos</a></li>
          <li><a href="/types"><%= fa_icon('folder', class:"nav-icon") %> Categorias</a></li>
          <li><a href="/sales/index"><%= fa_icon('shopping-bag', class:"nav-icon") %> Ventas</a></li>
          <li><a href="/users"><%= fa_icon('users', class:"nav-icon") %> Usuarios</a></li>
        <%else %>
          <li><a href="/"><%= fa_icon('home', class:"nav-icon") %> Principal</a></li>
          <li><a href="/products"><%= fa_icon('archive', class:"nav-icon") %> Productos</a></li>
          <li><a href="/types"><%= fa_icon('folder', class:"nav-icon") %> Categorias</a></li>
          <li><a href="/sales/index"><%= fa_icon('shopping-bag', class:"nav-icon") %> Ventas</a></li>
        <%end %>

      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


      <%= yield %>
    </div>
  </div>
</div>
</body>

</html>